.filters {
  width: 250px;
  position: relative;
}

.filters .custom-select input {
  cursor: pointer;
}


.filters label {
  display: block;
  padding-left: 10px;
  cursor: pointer;
}

.filters label:hover {
 background-color: khaki;
}

.filters input {
  margin-right: 7px;
}

.filters fieldset {
  border: none;
}

.filters legend {
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid darkolivegreen;
}
