select,
.filters .select-box input,
.search input {
  border: 1px solid darkolivegreen;
  color: darkolivegreen;
  padding: 5px;
  font-size: 18px;
  width: 250px;
}

.sort label {
  margin-right: 10px;
}

.filters,
.sort,
.search {
  margin-left: 15px;
}

.options {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: 4fr 1fr;
  box-shadow: 0 0 5px lightgray;
  height: 100%;
}

.card img {
  display: block;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-info > * {
  text-align: center;
}

.card-info h2 {
  font-size: 1.2em;
}

.card-info h3 {
  font-size: 0.9em;
}

@media only screen and (max-width: 900px) {
  .options {
    flex-direction: column;    
  }

  .options > * {
    margin-bottom: 5px;
  }

  .sort {
    text-align: right;
    display: block;
  }
}